@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

/* - Mobile: 375px */
/* - Desktop: 1440px */
/* ## Colors

### Primary

- Green 400: hsl(172, 67%, 45%)

### Neutral

- Green 900: hsl(183, 100%, 15%)
- Grey 500: hsl(186, 14%, 43%)
- Grey 400: hsl(184, 14%, 56%)
- Grey 200: hsl(185, 41%, 84%)
- Grey 50: hsl(189, 47%, 97%)
- White: hsl(0, 100%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px */

@theme {
  --font-barlow: 'Space Mono', monospace;
  --color-primary-background: hsl(185, 41%, 84%);
  --color-secondary-background: hsl(0, 100%, 100%);
  --color-tertiary-background: hsl(183, 100%, 15%);
  --color-quaternary-background: hsl(189, 47%, 97%);

  --color-heading-text: hsl(186, 14%, 43%);
  --color-input-text: hsl(183, 100%, 15%);

  --color-accent: hsl(172, 67%, 45%);
}

@layer base {
  body {
    @apply font-barlow font-bold bg-primary-background;
  }

  h2 {
    @apply text-heading-text text-lg;
  }
  input {
    @apply bg-quaternary-background w-full text-2xl text-input-text;
  }
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}
